<!DOCTYPE html>
{% load static %}
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WeFor - tryb rozszerzony</title>
        <link href="{% static 'img/favicon/favicon.ico' %}" rel="shortcut icon" type="image/png">
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/owfont-icons/owfont-regular.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/weather-icons/weather-icons.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/weather_cities_extended.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/animations/animations.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-toggle background-navbar fixed-top" id="mainNav">
            <div class="container">
                <a href="">
                    <img src="{% static 'img/logo/logo.png' %}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="text-center active">
                            <p class="margin-p-navbar text-center text-gold">Przewiń do</p>
                        </li>
                        <li class="nav-item text-center active">
                            <a class="nav-link navbar-scroll-into-top">Początku strony</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link navbar-scroll-into-main-content">Sekcji warunków pogodowych</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid top">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5">
                    <div class="row text-primary-color">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center mx-auto my-auto order-1 py-3">
                            <h1 class="text-xs-center">
                                <span>Tryb rozszerzony</span>
                            </h1>
                            <h4 class="text-xs-center h4-font-properties">
                                <span>Sprawdź aktualne warunki pogodowe, prognozę 16-dniową oraz 5-dniową dla dowolnych miast.</span>
                            </h4>
                            <div class="py-3 justify-content-center d-flex">
                                <button class="btn btn-outline-light btn-lg button-scroll-into-main-content">Przejdź dalej</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center mx-auto my-auto order-2 order-lg-last py-3">
                            <img src="{% static 'img/extended.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid py-5">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 main-content">
                    <div class="row text-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="text-primary-color h4-font-properties">
                                <span>Podaj miasto, dla którego chcesz wyświetlić pogodę</span>
                            </h4>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <form method="POST" class="justify-content-center form-inline">
                                {% csrf_token %}
                                <div class="form-group mx-2 mb-2">
                                    {{ form.name }}
                                </div>
                                <button type="submit" class="btn btn-outline-light mb-2">Wyszukaj</button>
                            </form>
                        </div>
                    </div>

                    <div class="row text-center py-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                            <div class="accordion" id="weatherAccordion">
                                {% if actual_weather_for_city %}
                                    <div class="bg-blue-dark">
                                        <div class="card-header" id="headingActualWeather">
                                            <h5 class="my-2">
                                                <a data-toggle="collapse" data-target="#collapseActualWeather" aria-expanded="true" aria-controls="collapseActualWeather">Aktualne warunki pogodowe</a>
                                            </h5>
                                        </div>
                                        <div id="collapseActualWeather" class="collapse show" aria-labelledby="headingActualWeather" data-parent="#weatherAccordion">
                                            <div class="container container-border">
                                                <div class="row py-3">
                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex mx-auto">
                                                        <div class="card card-inside-accordion card-hover text-center bg-blue-dark w-100">
                                                            <div class="card-body">
                                                                <h3 class="margin-top-header text-gold">{{ actual_weather_for_city.city }}</h3>
                                                                <h5 class="margin-top-header text-primary-color">{{ actual_weather_for_city.latitude }}° {{ actual_weather_for_city.longitude }}°</h5>
                                                                <div class="card-block">
                                                                    <div class="row pt-2">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                                            <span class="owf owf-5x owf-lg owf-{{ actual_weather_for_city.code }} text-primary-color"></span>
                                                                            <h5 class="text-gold">{{ actual_weather_for_city.description }}</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row pt-3">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                                            <h5 class="font-weight-normal text-center text-primary-color">Temperatura</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row pt-2">
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                            <h5 class="font-weight-normal text-center text-primary-color">Zmierzona</h5>
                                                                            <h5 class="text-center text-gold ">{{ actual_weather_for_city.temperature }}°C</h5>
                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                            <h5 class="font-weight-normal text-center text-primary-color">Odczuwalna</h5>
                                                                            <h5 class="text-center text-gold">{{ actual_weather_for_city.temperature_perceptible }}°C</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row pt-2">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                                            <h5 class="font-weight-normal text-center text-primary-color">Podstawowe dane</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row pt-2">
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                            <h5 class="font-weight-normal text-center text-primary-color">Strefa czasowa</h5>
                                                                            <h5 class="text-center text-gold">{{ actual_weather_for_city.timezone }}</h5>
                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                            <h5 class="font-weight-normal text-center text-primary-color">Godzina pomiaru</h5>
                                                                            <h5 class="text-center text-gold">{{ actual_weather_for_city.observation_time }}</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 mx-auto">
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-sunrise icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Wschód Słońca"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.sunrise }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-barometer icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Ciśnienie n.p.m (hPa)"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.pressure_above_sea_level }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-raindrops icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Ekwiwalent opadów (mm/h)"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.rain_equivalent }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 mx-auto">
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-sunset icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Zachód Słońca"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.sunset }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-humidity icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Wilgotność (%)"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.humidity }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-day-sunny icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Widoczność (km)"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.visibility }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 mx-auto">
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-cloudy icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Zachmurzenie (%)"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.cloudy_level }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-wind-direction icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Kierunek wiatru"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.wind_direction }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card card-inside-accordion card-hover">
                                                            <div class="box bg-blue-dark text-center">
                                                                <div class="card-body">
                                                                    <a class="wi wi-windy icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Prędkość wiatru (m/s)"></a>
                                                                    <h5 class="margin-top-attribute text-primary-color">{{ actual_weather_for_city.wind_speed }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if two_days_forecast_for_city %}
                                    <div class="bg-blue-dark">
                                        <div class="card-header" id="headingForecastFiveDays">
                                            <h5 class="my-2">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseForecastFiveDays" aria-expanded="false" aria-controls="collapseForecastFiveDays">Prognoza na najbliższe 2 dni</a>
                                            </h5>
                                        </div>
                                        <div id="collapseForecastFiveDays" class="collapse" aria-labelledby="headingForecastFiveDays" data-parent="#weatherAccordion">
                                            <div class="container container-border">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex mx-auto">
                                                        <div class="card card-inside-accordion card-hover text-center bg-blue-dark w-100">
                                                            <div class="card-body">
                                                                <div class="card-block">
                                                                    <div class="row">
                                                                        {% for single_hour_forecast in two_days_forecast_for_city %}
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 py-3">
                                                                                <div class="row py-2">
                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                        <h3 class="text-gold">{{ single_hour_forecast.date }} g.{{ single_hour_forecast.time }}</h3>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row py-2">
                                                                                    <div class="col-lg-12 col-sm-12 col-12">
                                                                                        <span class="owf owf-5x owf-lg owf-{{ single_hour_forecast.code }} text-primary-color"></span>
                                                                                        <h5 class="text-gold">{{ single_hour_forecast.description }}</h5>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row py-2">
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="wi wi-thermometer icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Temperatura (zmierzona)"></a>
                                                                                        <h5 class="margin-top-attribute text-center text-primary-color">{{ single_hour_forecast.temperature }}°C</h5>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="wi wi-barometer icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Ciśnienie n.p.m (hPa)"></a>
                                                                                        <h5 class="margin-top-attribute text-center text-primary-color">{{ single_hour_forecast.pressure_above_sea_level }} hPa</h5>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row py-2">
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="wi wi-cloudy icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Zachmurzenie (%)"></a>
                                                                                        <h5 class="margin-top-attribute text-center text-primary-color">{{ single_hour_forecast.cloudy_level }} %</h5>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="wi wi-umbrella icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Szansa na opady (%)"></a>
                                                                                        <h5 class="margin-top-attribute text-center text-primary-color">{{ single_hour_forecast.chance_of_rain }} %</h5>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row py-2">
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="wi wi-windy icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Porywy wiatru (m/s)"></a>
                                                                                        <h5 class="margin-top-attribute text-center text-primary-color">{{ single_hour_forecast.wind_gust_speed }} m/s</h5>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="wi wi-wind-direction icon-size text-gold" data-toggle="tooltip" data-placement="top" title="Kierunek wiatru"></a>
                                                                                        <h5 class="margin-top-attribute text-center text-primary-color">{{ actual_weather_for_city.wind_direction }}</h5>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if sixteen_days_forecast_for_city %}
                                    <div class="bg-blue-dark">
                                        <div class="card-header" id="headingForecastSixteenDays">
                                            <h5 class="my-2">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseForecastSixteenDays" aria-expanded="false" aria-controls="collapseForecastSixteenDays">Prognoza 16-dniowa</a>
                                            </h5>
                                        </div>
                                        <div id="collapseForecastSixteenDays" class="collapse" aria-labelledby="headingForecastSixteenDays" data-parent="#weatherAccordion">
                                            <div class="container container-border">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex mx-auto">
                                                        <div class="card-inside-accordion card-hover text-center bg-blue-dark w-100">
                                                            <div class="card-body">
                                                                <div class="card-block">
                                                                    <div class="row py-3">
                                                                        {% for single_day_forecast in sixteen_days_forecast_for_city %}
                                                                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 container-border py-2">
                                                                                <h5 class="margin-top-attribute  text-center text-gold">{{ single_day_forecast.date }}</h5>
                                                                                <span class="owf owf-5x owf-lg owf-{{ single_day_forecast.code }} text-primary-color pt-3"></span>
                                                                                <h5 class="margin-top-header font-weight-normal text-center text-primary-color">{{ single_day_forecast.description }}</h5>
                                                                                <h5 class="margin-top-header  text-center text-gold">{{ single_day_forecast.temperature }}°C</h5>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/smooth-scrolling/smoothscroll.min.js' %}"></script>
        <script src="{% static 'js/animations_cities_extended.js' %}"></script>
    </body>
</html>